#yellow{
	background-color: yellow;
	border-color: green;
	border-width: 2000px;
}
#red{
	background-color: red;
	border-width: 10px;
	border-color:black;
}
#green{
	background-color: green;
	border-width: 10px;
	border-color:yellow;
}

